<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body class="point-system company-detail">
    <div class="container header">
        <img class="user-avatar-img" src="/images/avatar/avatar<%= (company.name.length % 6 + 1)%>.png">
        <div class="company-name">
            <div><%= company.name%></div>
            <div class="location">location</div>
        </div>

        <div class="stars">
            <% for(var i = 0; i < 5; i++) { %>
                <span class="star <% if (i>3) {%>active <%}%>"></span>
            <% } %>
        </div>

        <div class="right-part">
            <div class="head-title">Points</div>
            <div class="head-value"><%= companyPoints%></div>
        </div>
        <div class="right-part">
            <div class="head-title">Discount</div>
            <div class="head-value"><%= discount * 100 %>%</div>
        </div>
    </div>

    <div class="container tabs">
        <a class="tab-item" href="javascript:void(0);">Money spent</a>
        <a class="tab-item active" href="javascript:void(0);">Money saved</a>
        <a class="tab-item" href="javascript:void(0);">Points</a>

        <a class="export" href="javascript:void(0);">Export</a>
    </div>
    
    <div class="container info">
        <div class="half pull-left">
            <div class="title">
                Rank
                <div class="time pull-right">2018.3 - 2018.9</div>
            </div>
        <%
        if (companyPast && companyPast.length) {
            companyPast.forEach(function (user, i) {
        %>
            <div class="rank-item <% if (i===0) { %>first<%}%>">
                <img  src="/images/avatar/avatar<%= (user.user_id * 1 % 6 + 1)%>.png">
                <div class="userinfo">
                    <span class="rank"><%= i+1%>th</span>
                    <span class="username"><%= user.username || 'User' + user.user_id%></span>
                    <div class="secondline">
                        Orders <%= user.order_num%> | Saved <%= user.saved_rate %>% | Points <%= user.user_points%>
                    </div>
                </div>
                <a class="view-detail" href="#">View Details</a>
            </div>
        <%
            });
        }
        %>
        </div>
        <div class="half pull-right">
            <div class="title">Discount</div>
            <div class="discount-item">
                <img src="/images/discount@2x.png">
                <span class="amount">
                    <%= discount * 100 %>% off
                </span>
                <span class="detail">
                    on thr order over ¥<%= savedMoneyCompany%>
                </span>
            </div>
            <div class="title">Points</div>
            <div class="discount-item last">
                <img src="/images/points@2x.png">
                <span class="amount">
                    <%= companyPoints%>
                </span>
                <span class="detail">
                    points gained in this month
                </span>
            </div>
            
        </div>
    </div>
  </body>
</html>
