<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js">
</script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.min.js"></script>
<div id="user" class="container header">
    <div>
        <img src="/images/avatar/avatar4.png" alt="" class="user-avatar-img">
    </div>
    <div class="company-name">
        <p>
            <span>DS</span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star shawdow" aria-hidden="true"></i>
        </p>
        <p class="user_company">Engneer in <a href="/company?companyId=<%= company.id%>"><%= company.name%></a></p>
    </div>
    <div class="right-part">
        <div class="head-title">Rank</div>
        <div class="head-value"><%= rank || '-'%>th</div>
    </div>
    <div class="right-part">
        <div class="head-title">Discount</div>
        <div class="head-value"><%= discount || 0%>%</div>
    </div>
    <div class="right-part">
        <div class="head-title">Points</div>
        <div class="head-value"><%= pointsValid || 0%></div>
    </div>
    <div class="right-part">
        <div class="head-title">Coupons</div>
        <div class="head-value"><%= coupons.length || 0%></div>
    </div>
</div>
<div id="echart">
</div>
<div class="container info">
    <div class="half pull-left first nopadding">
        <div class="redeem_tip">
            <div>
                <img src="/images/avatar/礼品.png" alt="">
            </div>
            <div>
                <p>You have <span>200</span> points to redeem!</p>
                <div class="get_point">
                    <a href="">Get the points now <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="half pull-right first">
        <div class="title">Coupons</div>
        <%
        if (coupons && coupons.length) {
            coupons.forEach(function (coupon, i) {
        %>
        <div class="content<% if (i === coupons.length - 1) { %> last<%}%>">
            <img src="/images/coupon@2x.png">
            <div class="userinfo">
                <span class="username"><%= coupon.distributor || 'ALL'%>：Get <%= coupon.discount || '0'%>% off on order over $<%= coupon.min_price%></span>
                <span class="secondline">
                    <%= moment(coupon.start_date).format('YYYY.MM.DD')%> - <%= moment(coupon.end_date).format('YYYY.MM.DD')%>
                </span>
            </div>
            <a class="action-btn" href="#">Use it</a>
        </div>
        <%
            });
        }
        %>
    </div>
    <div class="half pull-left">
        <div class="radar-container">
            <div class="title">
                Saved in distributors
                <div class="time pull-right"><%= startMoth%> - <%= endMoth%></div>
            </div>
            <div id="radar">
            </div>
            <ul>
                <li class="active">Me</li>
                <li>Avg on bom2buy</li>
            </ul>
            <div class="radar-logo"></div>
            
        </div>
    </div>
    <div class="half pull-right">
        <div class="title">Points</div>
        <div class="points-content">
            <div class="points-title">
                Points can be used
            </div>
            <div class="points-value green">
                <%= pointsValid || 0%>
            </div>
        </div>
        <div class="points-content">
            <div class="points-title">
                Points gained in this month
            </div>
            <div class="points-value">
                <%= pointsThisMonth || 0%>
            </div>
        </div>
        <button class="points-btn">
            Redeem goods or coupons
        </button>
    </div>
    <div class="half pull-right rank">
        <div class="title">
            Rank
            <div class="time pull-right"><%= startMoth%> - <%= endMoth%></div>
        </div>
        <div class="rank-info first">
            You are ranked <span class="rank-info-rank"><%= rank || '-'%>th</span> in <span class="blue"><%= company.name%></span>
        </div>
        <div class="rank-info">
            Top 3 in <%= company.name%>
        </div>
        <%
        if (userRank && userRank.length) {
            userRank = userRank.slice(0, 3);
            userRank.forEach(function (user, i) {
        %>
        <div class="rank-item <% if (i===0) { %>first<%}%>">
            <img  src="/images/avatar/avatar<%= (user.user * 1 % 6 + 1)%>.png">
            <div class="userinfo">
                <span class="rank"><%= i+1%>th</span>
                <span class="username"><%= user.username || 'User' + user.user%></span>
                <div class="secondline">
                    Orders <%= user.orders%> | Saved <%= user.savedP%>% | Points <%= user.points%>
                </div>
            </div>
            <a class="view-detail" href="?userId=<%= user.user %>&companyId=<%= company.id%>">View Details</a>
        </div>
        <%
            });
        }
        %>
    </div>
</div>
<script>
var chart1 = echarts.init(document.getElementById("radar"));
var option = {
	    color: ["#2F3A42",'#61C77E'],
	    legend: {                      
	        show: true,         
	        icon: 'rect',                  
	        top : '-1%',                    
	        right : '-1%',                  
	        itemWidth: 12,                  
	        itemHeight: 12,                 
	        itemGap: 18,                	
	        orient: 'horizontal',             
	        textStyle: {                    
	            fontSize: 12,
	            color: '#fff'
	        },
	        data: [{
	            name: 'Spent',                    
	            icon:'image://./images/Rectangle-spent.png',
	            textStyle: {
	                color: 'rgba(33,33,33)',
	            }
	        },{
	            name: 'Saved',
	            icon:'image://./images/Rectangle-saved.png',
	            textStyle: {
	                color: 'rgba(33,33,33)',
	            }
	        }],
	    },
	    radar: [{                      
	        center: ['50%', '50%'],     
	        radius: 85,                      
	        startAngle: 90,                  
	        name: {                             
	            formatter:  function (value, indicator) {
	            	var str = value + '\nSpent $'+indicator.max+'\nSaved '+'18%';
    				return  str;
				},
	            textStyle: {
	                fontSize: 12,
	                color: '#666'
	            }
	        },
	        nameGap: 15,                  
	        splitNumber: 5,                     
	        shape: 'circle',                   
	        axisLine: {                        
	            lineStyle: {
	                color: '#CDCDCD',                  
	                width: 1,                      	
	                type: 'solid',                  
	            }
	        },
	        splitLine: {                       
	            lineStyle: {
	                color: '#CDCDCD',                     
	                width: 1, 							
	            }
	        },
	        splitArea: {                        
	            show: true,
	            areaStyle: {                            
	                color: ['#fff','#fff'],     
	            }
	        },
	        indicator: [{             
	            name: 'Arrow',                             
	            max: 15000,                             
	        }, {
	            name: 'Chip1Stop',
	            max: 10000
	        }, {
	            name: 'Mouser',
	            max: 8000
	        }, {
	            name: 'Verical',
	            max: 2000
	        }, {
	            name: 'Element 14',
	            max: 500
	        }, {
	            name: 'Digi-Key',
	            max: 500
	        }]
	    }],
	    series: [{
	        name: '雷达图',            
	        type: 'radar',            
	        itemStyle: {               
	            normal: {                  
	                lineStyle: {
	                    width: 2
	                },
	                opacity: 0.2
	            },
	            emphasis: { 
	                lineStyle: {
	                    width: 3
	                },
	                opacity: 0.8
	            }
	        },
	        data: [{
	            name: 'Spent',
	            value: [13408, 5065, 5947, 856, 302,400],
	            symbol: 'circle',
	            symbolSize: 5,
	            areaStyle: {
	                normal: {
	                	opacity: 0.5,
	                    color: '#e5e5e5'
	                }
	            }
	        },{
	            name: 'Saved',               
	            value: [11035, 6013, 5067, 1520, 184,500],       
	            symbol: 'circle',                  
	            symbolSize: 5,                     
	            areaStyle: {               
	                normal: {
	                	opacity: 0.2,
	                    color: '#61C77E'      
	                }
	            }
	        }]
	    }, ]
	};
var option1 = {
	    color: ["#2F3A42",'#61C77E'],
	    legend: {                      
	        show: true,         
	        icon: 'rect',                  
	        top : '-1%',                    
	        right : '-1%',                  
	        itemWidth: 12,                  
	        itemHeight: 12,                 
	        itemGap: 18,                	
	        orient: 'horizontal',             
	        textStyle: {                    
	            fontSize: 12,
	            color: '#fff'
	        },
	        data: [{
	            name: 'Spent',                    
	            icon:'image://./images/Rectangle-spent.png',
	            textStyle: {
	                color: 'rgba(33,33,33)',
	            }
	        },{
	            name: 'Saved',
	            icon:'image://./images/Rectangle-saved.png',
	            textStyle: {
	                color: 'rgba(33,33,33)',
	            }
	        }],
	    },
	    radar: [{                      
	        center: ['50%', '50%'],     
	        radius: 85,                      
	        startAngle: 90,                  
	        name: {                             
	            formatter:  function (value, indicator) {
	            	var str = value + '\nSpent $'+indicator.max+'\nSaved '+'18%';
    				return  str;
				},
	            textStyle: {
	                fontSize: 12,
	                color: '#666'
	            }
	        },
	        nameGap: 15,                  
	        splitNumber: 5,                     
	        shape: 'circle',                   
	        axisLine: {                        
	            lineStyle: {
	                color: '#CDCDCD',                  
	                width: 1,                      	
	                type: 'solid',                  
	            }
	        },
	        splitLine: {                       
	            lineStyle: {
	                color: '#CDCDCD',                     
	                width: 1, 							
	            }
	        },
	        splitArea: {                        
	            show: true,
	            areaStyle: {                            
	                color: ['#fff','#fff'],     
	            }
	        },
	        indicator: [{             
	            name: 'Arrow',                             
	            max: 20000,                             
	        }, {
	            name: 'Chip1Stop',
	            max: 10000
	        }, {
	            name: 'Mouser',
	            max: 8000
	        }, {
	            name: 'Verical',
	            max: 2000
	        }, {
	            name: 'Element 14',
	            max: 500
	        }, {
	            name: 'Digi-Key',
	            max: 500
	        }]
	    }],
	    series: [{
	        name: '雷达图',            
	        type: 'radar',            
	        itemStyle: {               
	            normal: {                  
	                lineStyle: {
	                    width: 2
	                },
	                opacity: 0.2
	            },
	            emphasis: { 
	                lineStyle: {
	                    width: 3
	                },
	                opacity: 0.8
	            }
	        },
	        data: [{
	            name: 'Spent',
	            value: [13408, 565, 5947, 856, 302,400],
	            symbol: 'circle',
	            symbolSize: 5,
	            areaStyle: {
	                normal: {
	                	opacity: 0.5,
	                    color: '#e5e5e5'
	                }
	            }
	        },{
	            name: 'Saved',               
	            value: [11035, 6013, 5067, 1520, 184,500],       
	            symbol: 'circle',                  
	            symbolSize: 5,                     
	            areaStyle: {               
	                normal: {
	                	opacity: 0.2,
	                    color: '#61C77E'      
	                }
	            }
	        }]
	    }, ]
	};
chart1.setOption(option);
var offsetHeight = $('#radar').height()/2+16,
	top_length = '-'+offsetHeight+"px";
$('.radar-logo').css('top',top_length).show();
$(".radar-container").on('click',function(e){
	var event = window.event || e,
	    target = event.srcElement || event.target;
	$(target).parent('ul').find('li').removeClass('active');
	$(target).addClass("active");
	if($(target).index()==0){
		chart1.setOption(option);
	}
	else{
		chart1.setOption(option1);
	}
})
</script>