<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js">
</script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<div id="user" class="container header">
    <div>
        <img src="/images/avatar/avatar4.png" alt="" class="user-avatar-img">
    </div>
    <div class="company-name">
        <p>
            <span><%= user.username || 'User' + user.id%></span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star shawdow" aria-hidden="true"></i>
        </p>
        <p class="user_company">Engineer in
            <a href="/company?companyId=<%= company.id%>">
                <%= company.name%>
            </a>
        </p>
    </div>
    <div class="right-part">
        <div class="head-title">Rank</div>
        <div class="head-value">
            <%= rank || '-'%>th</div>
    </div>
    <div class="right-part">
        <div class="head-title">Discount</div>
        <div class="head-value">
            <%= discount * 100 || 0%>%
        </div>
    </div>
    <div class="right-part">
        <div class="head-title">Points</div>
        <div class="head-value">
            <%= pointsValid || 0%>
        </div>
    </div>
    <div class="right-part">
        <div class="head-title">Coupons</div>
        <div class="head-value">
            <%= coupons.length || 0%>
        </div>
    </div>
</div>
<div class="container tabs">
    <a class="tab-item active" href="javascript:void(0);" data-chart="historySpent" data-value="spent">Money spent</a>
    <a class="tab-item" href="javascript:void(0);" data-chart="historySaved" data-value="saved">Money saved</a>
    <a class="tab-item" href="javascript:void(0);" data-chart="historyPoints" data-value="points">Points</a>

    <!-- <a class="export" href="javascript:void(0);">Export</a> -->
</div>

 <div class="container charts">
    <div id="line-chart" class="left-chart"></div>
    <div id="circle-chart" class="right-chart"></div>
</div>
<div id="echart">
</div>
<div class="container info">
    <div class="half pull-left first nopadding">
        <div class="redeem_tip">
            <div>
                <img src="/images/avatar/礼品.png" alt="">
            </div>
            <div>
                <p>You have <span>200</span> points to redeem!</p>
                <div class="get_point">
                    <a href="javascript:void(0)" onclick="showImg('/images/popup.png')">Get the points now <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="half pull-right first">
        <div class="title">Coupons</div>
        <%
        if (coupons && coupons.length) {
            coupons.forEach(function (coupon, i) {
        %>
            <div class="content<% if (i === coupons.length - 1) { %> last<%}%>">
                <img src="/images/coupon@2x.png">
                <div class="userinfo">
                    <span class="username"><%= coupon.distributor || 'ALL'%>：Get <%= coupon.discount || '0'%>% off on order over ￥<%= coupon.min_price%></span>
                    <span class="secondline">
                    <%= moment(coupon.start_date).format('YYYY.MM.DD')%> - <%= moment(coupon.end_date).format('YYYY.MM.DD')%>
                </span>
                </div>
                <a class="action-btn" href="#">Use it</a>
            </div>
            <%
            });
        }
        %>
    </div>
    <div class="half pull-left">
        <div class="radar-container">
            <div class="title">
                Saved in distributors
                <div class="time pull-right">
                    <%= startMoth%> -
                        <%= endMoth%>
                </div>
            </div>
            <div id="radar">
            </div>
            <ul>
                <li class="active">Me</li>
                <li>Avg on bom2buy</li>
            </ul>
            <div class="radar-logo"></div>
        </div>
    </div>
    <div class="half pull-right">
        <div class="title">Points</div>
        <div class="discount-item last">
            <img src="/images/points@2x.png">
            <span class="amount">
                <%= pointsThisMonth || 0%>
            </span>
            <span class="detail">
                points gained in this month
            </span>
        </div>
        <button class="points-btn">
            Redeem goods or coupons
        </button>
    </div>
    <div class="half pull-right rank">
        <div class="title">
            Rank
            <div class="time pull-right">
                <%= startMoth%> -
                    <%= endMoth%>
            </div>
        </div>
        <div class="rank-info first">
            You are ranked <span class="rank-info-rank"><%= rank || '-'%>th</span> in <span class="blue"><%= company.name%></span>
        </div>
        <div class="rank-info">
            Top 3 in
            <%= company.name%>
        </div>
        <%
        if (userRank && userRank.length) {
            userRank = userRank.slice(0, 3);
            userRank.forEach(function (user, i) {
        %>
            <div class="rank-item <% if (i===0) { %>first<%}%>">
                <img src="/images/avatar/avatar<%= (user.user * 1 % 6 + 1)%>.png">
                <div class="userinfo">
                    <span class="rank"><%= i+1%>th</span>
                    <span class="username"><%= user.username || 'User' + user.user%></span>
                    <div class="secondline">
                        Orders
                        <%= user.orders%> | Saved
                            <%= user.savedP%>% | Points
                                <%= user.points%>
                    </div>
                </div>
            </div>
            <%
            });
        }
        %>
    </div>
</div>
<script>
<%
if (distributors && distributors.length) {
    var indicator = [],
        saved = [],
        spend = [],
        savedTotal = 0,
        spendTotal = 0,
        maxP = 0,
        maxSpend = 0;

    distributors = distributors.sort(function (a, b) {
        return parseFloat(a.purchase_money_saved) - parseFloat(b.purchase_money_saved);
    });
    distributors.forEach(function (distributor, i) {
        var tmp = {
            name: distributor.distributor,
            max: 100,
            saved: parseFloat(distributor.purchase_money_saved),
            spend: parseFloat(distributor.spend)
        }
        savedTotal += tmp.saved;
        spendTotal += tmp.spend;

        indicator.push(tmp);
    });
    indicator.forEach(function (item, i) {
        if (savedTotal > 0) {
            indicator[i].savedP = Math.round(item.saved / savedTotal * 10000) / 100;
        } else {
            indicator[i].savedP = 0;
        }
        if (spendTotal > 0) {
            indicator[i].spendP = Math.round(item.spend / spendTotal * 10000) / 100;
        } else {
            indicator[i].spendP = 0;
        }
        saved.push(indicator[i].savedP);
        spend.push(indicator[i].spendP);

        if (maxP < indicator[i].savedP) {
            maxP = indicator[i].savedP;
        }
        if (maxP < indicator[i].spendP) {
            maxP = indicator[i].spendP;
        }
    });
    indicator.forEach(function (item, i) {
        indicator[i].max = maxP;
    });
} else {
    var indicator = [{
        name: 'no data',
            max: 100,
            saved: 0,
            spend: 0,
            savedP: 0,
            spendP: 0
    }],
    saved = [0],
    spend = [0];
}
%>
var chart1 = echarts.init(document.getElementById("radar"));
var option = {
    color: ["#2F3A42", '#61C77E'],
    legend: {
        show: true,
        icon: 'rect',
        top: '-1%',
        right: '-1%',
        itemWidth: 12,
        itemHeight: 12,
        itemGap: 18,
        selectedMode:false,
        orient: 'horizontal',
        textStyle: {
            fontSize: 12,
            color: '#fff'
        },
        data: [{
            name: 'Spent',
            icon: '/images/Rectangle-spent.png',
            textStyle: {
                color: 'rgba(33,33,33)',
            }
        }, {
            name: 'Saved',
            icon: '/images/Rectangle-saved.png',
            textStyle: {
                color: 'rgba(33,33,33)',
            }
        }],
    },
    radar: [{
        center: ['50%', '50%'],
        radius: 85,
        startAngle: 90,
        name: {
            formatter: function (value, indicator) {
                var str = value + '\nSpent ￥' + indicator.spend + '\nSaved ' + indicator.savedP + '%';
                return str;
            },
            textStyle: {
                fontSize: 12,
                color: '#666'
            }
        },
        nameGap: 15,
        splitNumber: 5,
        shape: 'circle',
        axisLine: {
            lineStyle: {
                color: '#CDCDCD',
                width: 1,
                type: 'solid',
            }
        },
        splitLine: {
            lineStyle: {
                color: '#CDCDCD',
                width: 1,
            }
        },
        splitArea: {
            show: true,
            areaStyle: {
                color: ['#fff', '#fff'],
            }
        },
        indicator: <%- JSON.stringify(indicator)%>
    }],
    series: [{
        name: '雷达图',
        type: 'radar',
        itemStyle: {
            normal: {
                lineStyle: {
                    width: 2
                },
                opacity: 0.2
            },
            emphasis: {
                lineStyle: {
                    width: 3
                },
                opacity: 0.8
            }
        },
        data: [{
            name: 'Spent',
            value: <%- JSON.stringify(spend)%>,
            symbol: 'circle',
            symbolSize: 5,
            areaStyle: {
                normal: {
                    opacity: 0.5,
                    color: '#e5e5e5'
                }
            }
        }, {
            name: 'Saved',
            value: <%- JSON.stringify(saved)%>,
            symbol: 'circle',
            symbolSize: 5,
            areaStyle: {
                normal: {
                    opacity: 0.2,
                    color: '#61C77E'
                }
            }
        }]
    }, ]
};
<%
if (distributorsForCompany && distributorsForCompany.length) {
    var indicator = [],
        saved = [],
        spend = [],
        savedTotal = 0,
        spendTotal = 0,
        maxP = 0;

    distributorsForCompany = distributorsForCompany.sort(function (a, b) {
        return parseFloat(a.purchase_money_saved) - parseFloat(b.purchase_money_saved);
    });

    distributorsForCompany.forEach(function (distributor, i) {
        var tmp = {
            name: distributor.distributor,
            max: 100,
            saved: parseFloat(distributor.purchase_money_saved),
            spend: parseFloat(distributor.spend)
        }
        savedTotal += tmp.saved;
        spendTotal += tmp.spend;
        indicator.push(tmp);
    });
    indicator.forEach(function (item, i) {
        if (savedTotal > 0) {
            indicator[i].savedP = Math.round(item.saved / savedTotal * 10000) / 100;
        } else {
            indicator[i].savedP = 0;
        }
        if (spendTotal > 0) {
            indicator[i].spendP = Math.round(item.spend / spendTotal * 10000) / 100;
        } else {
            indicator[i].spendP = 0;
        }
        saved.push(indicator[i].savedP);
        spend.push(indicator[i].spendP);

        if (maxP < indicator[i].savedP) {
            maxP = indicator[i].savedP;
        }
        if (maxP < indicator[i].spendP) {
            maxP = indicator[i].spendP;
        }
    });
    indicator.forEach(function (item, i) {
        indicator[i].max = maxP;
    });
} else {
    var indicator = [{
        name: 'no data',
            max: 100,
            saved: 0,
            spend: 0,
            savedP: 0,
            spendP: 0
    }],
    saved = [0],
    spend = [0];
}
%>
var option1 = {

    color: ["#2F3A42", '#61C77E'],
    legend: {
        show: true,
        icon: 'rect',
        top: '-1%',
        right: '-1%',
        itemWidth: 12,
        itemHeight: 12,
        itemGap: 18,
        selectedMode:false,
        orient: 'horizontal',
        textStyle: {
            fontSize: 12,
            color: '#fff'
        },
        data: [{
            name: 'Spent',
            icon: 'image://./images/Rectangle-spent.png',
            textStyle: {
                color: 'rgba(33,33,33)',
            }
        }, {
            name: 'Saved',
            icon: 'image://./images/Rectangle-saved.png',
            textStyle: {
                color: 'rgba(33,33,33)',
            }
        }],
    },
    radar: [{
        center: ['50%', '50%'],
        radius: 85,
        startAngle: 90,
        name: {
            formatter: function (value, indicator) {
                var str = value + '\nSpent ￥' + indicator.spend + '\nSaved ' + indicator.savedP + '%';
                return str;
            },
            textStyle: {
                fontSize: 12,
                color: '#666'
            }
        },
        nameGap: 15,
        splitNumber: 5,
        shape: 'circle',
        axisLine: {
            lineStyle: {
                color: '#CDCDCD',
                width: 1,
                type: 'solid',
            }
        },
        splitLine: {
            lineStyle: {
                color: '#CDCDCD',
                width: 1,
            }
        },
        splitArea: {
            show: true,
            areaStyle: {
                color: ['#fff', '#fff'],
            }
        },
        indicator: <%- JSON.stringify(indicator)%>
    }],
    series: [{
        name: '雷达图',
        type: 'radar',
        itemStyle: {
            normal: {
                lineStyle: {
                    width: 2
                },
                opacity: 0.2
            },
            emphasis: {
                lineStyle: {
                    width: 3
                },
                opacity: 0.8
            }
        },
        data: [{
            name: 'Spent',
            value: <%- JSON.stringify(spend)%>,
            symbol: 'circle',
            symbolSize: 5,
            areaStyle: {
                normal: {
                    opacity: 0.5,
                    color: '#e5e5e5'
                }
            }
        }, {
            name: 'Saved',
            value: <%- JSON.stringify(saved)%>,
            symbol: 'circle',
            symbolSize: 5,
            areaStyle: {
                normal: {
                    opacity: 0.2,
                    color: '#61C77E'
                }
            }
        }]
    }, ]
};

chart1.setOption(option);
function showImg(url){
    var img = "<img src='" + url + "' style='width:490px;height:536px' />";  
	layer.open({  
	    type: 1,  
	    shade: false,  
	    title: false, //不显示标题  
	    //area:['480px','500px'],  
	    area: [img.width + 'px', img.height+'px'],  
	    content: img, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响  
	    cancel: function () {  
	        //layer.msg('图片查看结束！', { time: 5000, icon: 6 });  
	    }  
	});  
}
var offsetHeight = $('#radar').height() / 2 + 16,
    top_length = '-' + offsetHeight + "px";
$('.radar-logo').css('top', top_length).show();
$(".radar-container").on('click', function (e) {
    var event = window.event || e,
        target = event.srcElement || event.target;
    $(target).parent('ul').find('li').removeClass('active');
    $(target).addClass("active");
    if ($(target).index() == 0) {
        chart1.setOption(option);
    } else {
        chart1.setOption(option1);
    }
})
</script>
<script>
<%
var points = 0;
historyPoints.forEach(function (point) {
    points += parseInt(point.points);
});
%>
    FC = FC || {};
    FC.points = '<%= points || 0%>';
    FC.PurchasePoints = '<%= points * 0.6 || 0%>';
    FC.bomPoints = '<%= points * 0.3 || 0%>';
    FC.invitePoints = '<%= points * 0.1 || 0%>';
</script>